@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a:visited {
    color: #000;
}
header {
    border-top: 10px solid #117050;
    
}
.container {
    max-width: 1140px;
    margin: auto;
}

.header--area {
    margin: 0px 20px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--area-logo{
    max-width: 64px;
    max-height: 64px;

}

.header--area-logo img{
    width: 100%;
}

.header--area-content {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    display: block;
    width: 24px;
    height: 24px;
}

nav img{
    width: 100%;
}

form {
    display: flex;
    align-items: center;
}
form input {
    font-size: 16px;
    outline: 0;
    padding: 10px 100px;
    padding-left: 10px;
    width: 100%;
    max-width: 250px;
    /* min-width: 200px; */
    /* min-height: 34px; */
    border: 1px solid #999999;
}

form input img{
    width: 20px;
}

form button {
    background-color: transparent;
    border: none;
    margin-left: -30px;
    cursor: pointer;
}

form button img {
    width: 16px;
    height: 16px;
}

/* Banner principal */


.section-main-banner {
    background-image: url('../image/bg.jpg');
    background-position: center;
    background-size: cover;
}

.section-main-banner .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 20px;
    gap: 30px;
    font-family: 'Oswald',sans-serif;
}

.section-main-banner .container .section-main-banner-title {
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.1;
}

.section-main-banner .container .section-main-banner-desc {
    font-size: 1rem;
}

.section-main-banner .container .section-main-banner-images {
    margin-top: 25px;
    height: 148px;
    width: 148px;
    display: flex;
    column-gap: 50px;
    
}

.section-main-banner .container .section-main-banner-images img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid #117050;
}


/* SEÇÃO 1 */

.section-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-default {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
}

.container-default .container-bar{
    height: 22px;
    width: 139px;
    background-color: #117050;
}

.container-default .container-title{
   margin-top: 20px;
   margin-right: 20px;
   font-weight: 700;
   font-size: 2.25rem;
   font-family: 'Oswald',sans-serif;
}

.container-default .container-quote{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1rem;
    font-style: italic;
 }

.container-default .container-text{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-size: 1rem;
 }

 .container-default .container-button {
    border: 2px solid #000;
    padding: 10px 30px;
 }

 .container-default .container-button:hover {
    background-color:  #454545;
    color: #FFF;
 }


    


.section-second-img  {
    background-image: url('../../media/complementos/f2.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 350px;
}

.section-main-img {
    background-image: url('../../media/complementos/f1.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/* Section Three Reverse */

.section-three.reverse .section-second-img  {
    background-image: url('../../media/complementos/f4.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 53vh;
}

.section-three.reverse .section-main-img {
    background-image: url('../../media/complementos/f3.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

/* Section Two */

.section-two {
    display: grid;
    background-image: url('../image/bg2.jpg');
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(2, 1fr);
}

.section-two .container-default {
    margin: 0;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    grid-row: 1 / 3;
}

.section-two .section-main-img {
    margin: 0;
    height: 82vh;
    background-image: url('../../media/complementos/f5.jpg');
    background-position: center;
    background-size: cover;
}

.section-two-custom {
    display: grid;
    grid-template-columns: 630px 1fr;
}

.section-two-custom .section-two-custom-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #e8e9ee;
}

.section-two-custom-text .container-default{
    max-width: 350px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 100px;
    margin-right: 0;
}

.section-two-custom-image {
    background-image: url('../../media/complementos/bg3.jpg');
    background-size: cover;
    background-position: left;
}


.last-section{
    background-image: url('../../media/complementos/bg4.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
}

footer {
    padding: 80px;
    text-align: center;
    color: #FFF;
    background-color: #333;
}

footer a:visited{
    color: #FFF;
}
